apiVersion: v1
kind: PersistentVolume
metadata:
  name: star-volume
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes:
  -  "{{ access_modes[0] }}"
  resources:
    requests:
      storage: "{{ resources.requests.storage }}"

