apiVersion: v1
kind: Pod
metadata:
  name: star-pod
spec:
  containers:
    - image: nginx
      name: web-server
      volumeMounts:
        - mountPath: /cache
          name: pvc-volume
  volumes:
    - name: pvc-volume
      persistentVolumeClaim:
        claimName: "{{ pvc_name }}"
