apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: star-pvc
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes:
    - "{{ access_modes[0] }}"
  resources:
    requests:
      storage: "{{ resources.requests.storage }}"
